body html {
	font-size: 100%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

.parallax {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#parent-container {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.background-img {
background-image: url(vintage-concrete.png);
background-position: center center;
background-repeat: repeat;
background-size: cover;
height: 100%;
width: 100%;
margin: 0 auto;
}

#nav-bar a{
	text-decoration: none;
}

#toolbar {
  position: fixed;
  background-image: url(vintage-concrete.png);
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
  width: 100%;
  float: left;
}

#resume-link {
	text-decoration: none;
}

#name {
	display: block;
  float: left;
	font-size: 25px;
	line-height: 45px;
	font-family: sans-serif;
	color:#666699;
	margin: 0 auto;
	margin-left: 20px;

}

#toolbar ul {
  list-style: none;
	margin: 0 auto;
}

#toolbar li {
  float: right;
}

#toolbar li a {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 25px;
  line-height: 45px;
  font-family: sans-serif;
  color: #666699;
}

#toolbar li a:hover {
  color: #FFFFFF;
}

#first-image {
	background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(grafiti_pier.png);
	background-size: 100%;
    background-position: center center;
    background-repeat: repeat;
    height: 850px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#self-portrait {
	margin: 0 auto;
	margin-top: 50px;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #FFFFFF;
	position: absolute;
	top: 25px;
	right: 25px;
}

#about-area {
	height: 800px;
	width: 100%;
	margin: 0 auto;
	padding-left: 0 !important;
    padding-right: 0 !important;
}


#contact-section {
	display: inline-block;
	text-align: center;
	height: 200px;
	width: 100%;
	margin-bottom: 25px;
	margin-top: 25px;
}

#contact-section h2 {
	color: black;
	font: bold 24px Sans-Serif;
	letter-spacing: -1px;
	text-align: center;
}

#contact-section hr {
	width: 30%;
	size: 6px;
	text-align: center;
	color: black;
}



