body {
	background-image: url(vintage-concrete.png);
	width: 100%;
	height: auto;
	margin: auto;
}

.top-section-parent {
	height: 700px;
	width: 100%;
	background-image: url(grafiti_pier.jpg);
	background-size: 100%;
	border: 3px solid #f4efdd;
	margin-bottom: 25px;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #FFFFFF;
	position: absolute;
	top: 25px;
	right: 25px;
}


h1 {
 position: absolute;
 top: 5px;
 left: 5px;
 width: 30%;
}

.header-text {
	margin-left: 10px;
	color: black;
	font: bold 24px Sans-Serif;
	background: rgba(192,220,192, 0.5);
	letter-spacing: -1px;
	padding: 10px;
}
.midsection-parent {
	height: auto;
	width: auto;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.about-header {
	text-align: center;
	margin-top: 50px;
	color: black;
	font: bold 24px Sans-Serif;
	letter-spacing: -1px;

}

.about-line {
	width: 30%;
	size: 6px;
	align: center;
	color: black;

}

.about-text {

	display: inline-block;
	width: 50%;
	color: black;
	font: 16px Sans-Serif;
}

.third-section {
	width: 600px;
	height: auto;
	margin-top: 10px;
	margin: 0 auto;
}

.resume-header {
	font: bold 24px Sans-Serif;
	color: black;
	letter-spacing: -1px;
	text-align: center;
}

.iframe-format{
	height: 600px;
	width: 600px;
	border: 2px solid #000000;
}
