body {
	background-image: url(vintage-concrete.png);
	width: 100%;
	height: auto;
	margin: auto;
}

.top-section-parent {
	height: 500px;
	width: 100%;
	background-image: url(phillyscape2.jpg);
	background-size: 100%;
	border: 3px solid #f4efdd;
	margin-bottom: 25px;
}

.profile-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 5px solid #FFFFFF;
	position: absolute;
	top: 25px;
	right: 25px;
}


h1 {
 position: absolute;
 top: 5px;
 left: 5px;
 width: 30%;
}

.header-text {
	margin-left: 10px;
	color: black;
	font: bold 24px Sans-Serif;
	background: rgba(192,220,192, 0.5);
	letter-spacing: -1px;
	padding: 10px;
}
.midsection-parent {
	height: auto;
	width: auto;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.about-header {
	text-align: center;
	margin-top: 50px;
	color: black;
	font: bold 24px Sans-Serif;
	letter-spacing: -1px;

}

.about-text {
	display: inline-block;
	width: 50%;
	color: white;
	font: 16 Sans-Serif;
}

.third-section {
	margin-top: 10px;
}
.left-third-section-format {
	margin-left: 20px;
	float: left;
}

.resume-header {
	font: bold 24px Sans-Serif;
	color: white;
	letter-spacing: -1px;
}

.iframe-format{
	height: 600px;
	width: 600px;
	border: 2px solid #000000;
}
.right-third-section-format {
	height: 615px;
	float: right;
	padding-right: 50px;
}

.linklist-format {
	width: 200px;
	height: 300px;
	padding-right: 10px;
}
.list-header {
	padding-top: 20px;
	font: bold 24px Sans-Serif;
	color: white;
	letter-spacing: -1px;
}
.linklist-element {
	font: 20px Sans-Serif;
	color: white;
	letter-spacing: -1px;
	padding-top: 10px;
}

.contact-format {
	width: 200px;
	height: 300px;
}

.contact-element {
	font: 16px Sans-Serif;
	color: white;
	letter-spacing: -1px;
	padding-top: 10px;
}
