 .MyNavbar {
  width: 100%;
  height: 8%;
  margin: 0 auto;
  padding: 0 auto;
  background: rgba(212,170,212);
  border: none;
  display: flex;
  align-items: center;
  color: white;
}

Item {
  color: white;
}