ul li {
  margin: .25em;
}

.ProjectsItem  {  
  width: 30vw;
  height: 60vh;
  border: 1px solid #40E0D0;
  background: #f2eded;
  margin: 5em;
  overflow-x: scroll;
  overflow-y: scroll;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media (max-width: 576px) {
  .ProjectsItem {
     width: 60vw;
 }
}



.ProjectsItem-header {  
  text-align: center;
  font-size: 2em;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #3baaee;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 10%;
  min-height: 10%;
}

.ProjectsItem-line {
  width: 75%;
  border-color: #40E0D0
}

.ProjectsItem-list-container {
  height: 70%;
  min-height: 70%;
  width: 100%;
  overflow: hidden;
}

.ProjectsItem-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ProjectsItem-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.ProjectsItem-icon {
  margin: 0 5% 0 5%
}
